# Django
SECRET_KEY=django-insecure-substitua-por-chave-segura-em-producao
DJANGO_SETTINGS_MODULE=barrs_erp.settings.development

# Database
DATABASE_URL=postgres://usuario:senha@localhost:5432/barrs_erp

# Admin padrão
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@barrs.com.br
ADMIN_PASSWORD=admin123

# Produção
ALLOWED_HOSTS=seudominio.com,www.seudominio.com
